.caro{
    padding: 20px;
    height: 800px;
    width: full;
    background-color: rgb(235, 243, 240);
}
.caro img{
    height: 400px;
   margin-inline: auto;
   padding: 50px;
}
.catagory div{
height: 200px;
}
.post img{
    height: 600px;
    width: 90%;
    border-radius: 30px;
}
.post1 img{
    height: 300px;
    width: 90%;
    margin: auto;
    border-radius: 30px;
}
.add img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
}
.add p{
    margin-top: 90px;
    font-size: xx-large;
}